@font-face {
    font-family: "Regular";
    src: url("../fonts/GraphikLCG-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Semibold";
    src: url("../fonts/GraphikLCG-Semibold.ttf");
    font-weight: 600;
}

/* HEADER START */

* {
    box-sizing: border-box;
}

.fix-size-container {
    max-width: 1290px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

.head {
    max-width: 1290px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.header {
    justify-content: space-between;
    align-items: center;
    max-width: 1290px;
    padding: 25px 0;
    margin: 0 auto;
}

.navigation .list-item {
    justify-content: flex-start;
    align-items: center;
}

.head-logo {
    margin-right: 30px;
}

.logo a {
    display: flex;
}

.head-logo:hover {
    background-color: #CCCCCC;
}

.list-item {
    width: 549px;
    height: 30px;
}

.item {
    margin: auto;
}

.item a {
    font-family: 'Regular';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #FF6336;
}

.button {
   font-family: "Semibold";
    width: 120px;
    height: 45px;
    border-radius: 0px;
    border: none;
    background: none;
    font-size: 16px;
    line-height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.button:hover {
    background: gray;
}

.button:active {
    background: #DABC98;
}

button.second {
    background: #FF6336;
    color: white;
    border: 1px solid #FF6336;
}

.button:first-child {
    margin-right: 10px;
}

.line {
    border: 1px solid #CCCCCC;
    margin: 0 auto;
}

/* HEADER END
MAIN START
section-first start */

.first-container {
    justify-content: space-between;
    align-items: center;
    padding-top: 129px;
    padding-bottom: 172px;
}

.sec-first-title {
    font-family: "Semibold";
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 51px;
    width: 550px;
}

.sec-first-text {
    font-family: "Regular";
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 50px;
    width: 471px;
}

.but-rigth {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0px;
    height: 60px;
    width: 160px;
    margin: auto;
    font-family: "Semibold";
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    background-color:#FFFFFF;
    cursor: pointer;
}

.but-rigth:hover {
    background-color: rgb(185, 183, 183);
    color: #FFFFFF
}

.but-rigth:active {
background-color: #DABC98;
}

.but-left {
    background: #FF6336;
    border-radius: 0px;
    height: 60px;
    width: 160px;
    font-family: "Semibold";
    border: none;
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    color: #FFFFFF;
    margin-right: 10px;
    cursor: pointer;
 }

 .but-left:hover {
    background-color: #ff8d6b;
    color: #000000;
 }

 .but-left:active {
    background-color: #DABC98;
 }

 .small-text {
    font-family: "Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    padding-top: 25px;
 }

 .big-image {
    width: 650px;
    height: 450px;
 }

 /* section-first end
    section-second start */

.section-second {
    background-color:  #FF9C7D;;
    height: 455px;
}

.title {
    font-family: 'Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

.text {
    padding-top: 108px;
    margin-bottom: 82px;
    text-align: center;
}

.logos {
    justify-content: space-around;
    align-items: center;
}

/* section-second end
   main-card-conteiner start */

.wrap {
    justify-content: space-between;
    align-items: center;
    height: 882px;
}

.wrap-container {
    width: 520px;
    height: 366px;
}

.info {
    font-family: 'Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 30px;
    margin-bottom: 30px;
}

.link {
    color: #000000;
}

.start {
    font-family: 'Semibold';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}

.pic {
    width: 632px;
    height: 632px;
}

/* main-card-conteiner end
   icon-box start */

.icon-box {
    background-color: #FFF8E4;
}

.card-icon {
    width: 330px;
    height: 294px;
}

.info-text {
    text-align: center;
    padding-top: 120px;
    margin-bottom: 79px;
}

.icons {
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    height: 627px;
}

.icon {
    width: 160px;
    height: 120px;
    margin-left: 85px;
    margin-right: 85px;
    margin-bottom: 26px;
}

.title-icon {
    font-family: 'Semibold';
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}

.info-icon {
    font-family: 'Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

/* icon-box end 
   icon-box-second start */

.info-text-second {
    padding-top: 154px;
    margin-bottom: 92px;
}

.section-container {
    justify-content: space-between;
}

.card-second {
    height: 609px;
    width: 429px;
}

.image-box {
    height: 201px;
    margin-bottom: 49px;
}

.title-box {
    font-family: 'Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 34px;
}

.card-second-info {
    font-family: 'Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.link-second {
    font-family: 'Regular';
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 25px;
}

/* icon-box-second end
   section-blue start */

.section-blue {
    background-color: #C9E8F2;
}

.card-cooper {
    justify-content: space-between;
    align-items: center;
    height: 468px;
}

.card-left {
    height: 275px;
    width: 895px;
}

.section-blue-info {
    font-family: 'Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 23px;
}

.name {
    font-family: 'Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 7px;
}

.cooper-icon {
    width: 310px;
    height: 310px;
}

/* section-blue end 
   section-brown start  */

.section-brown {
    background-color: #DABC98;
}

.section-cake {
    height: 332px;
    justify-content: space-around;
    align-items: center;
}

.img-cake {
    width: 176px;
    height: 154px;
}

.section-brown-text {
    font-family: 'Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    width: 461px;
}

.vl {
    border-left: 1px solid #000000;;
    height: 168px;
}

.img-q2 {
    width: 128px;
    height: 116px;  
}

.img-capterra {
    width: 150px;
    height: 116px;
}

/* section-brown end 
   section bird start */

.section-bird {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 162px;
}

.section-bird-text {
    font-family: 'Semibold';
    padding-top: 165px;
    font-weight: 600;
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}

.section-bird-info {
    font-family: 'Regular';
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
}

.img-bird {
    width: 1023px;
    height: 445px;
    margin-bottom: 32px;
}

.big-button {
    font-family: 'Regular';
    font-weight: 600;
    font-size: 16px;
    width: 193px;
    height: 60px;
    background: #FF6336;
    color: #FFFFFF;
    border: 1px solid #FF6336;
    cursor: pointer;
}

.big-button:hover {
    background:#FFF8E4;
    color: #FF6336;
}

.big-button:active {
    background: #DABC98;
    color: #FFFFFF;
}

/* section bird end
   section-orange start */

.section-orange {
    background-color: #FF9C7D;
}

.title-orange {
    font-family: "Semibold";
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin-bottom: 29px;
}

.info-orange {
    font-family: "Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 54px;
}

.button-black {
    height: 60px;
    width: 160px;
    background-color: #000000;
    border: none;
    font-family: "Semibold";
    font-size: 17px;
    line-height: 60px;
    color: #FFFFFF;
}

.button-black:hover {
    background-color: #FF6336;
    color: #000000;
}

.button-black:active {
    background-color:#DABC98;
    color: #000000;
}

.wrap-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 119px;
    padding-bottom: 161px;
}

/* section-orange end 
   MAIN END 
   FOOTER START */

.foot {
    background-color: #EEEEEE;;
}

.footer-first {
    /* height: 774px; */
    padding-top: 50px;
    justify-content: space-between;
    align-items: center;
}

.footer-title {
    font-family: 'Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 28px;
}

.bike {
    width: 300px;
    height: 300px;
}

.specialized {
    margin-top: 31px;
    margin-bottom: 11px;
    display: block;
}

.img-specialized {
    width: 80px;
    height: 32px;
}

.bike-info {
    font-family: 'Regular';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.footer-info {
    font-family: 'Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 15px;
    text-decoration: none;
    display: block;
}

.foot-card {
    width: 200px;
    height: 587px;
}

.footer-title {
    font-family: 'Semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 21px;
}

.footer-item a {
    text-decoration: none;
    margin-bottom: 15px;
    font-family: 'Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    color: #000000;
    display: block;
}

.footer-item a:hover {
    color: #FF6336;
}

.footer-line {
    height: 1px;
    background: #000000;
}

.footer-second {
    height: 125px;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    font-family: 'Semibold';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    margin-right: 15px;
}

.footer-text {
    font-family: 'Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.foot-a {
    text-decoration: none;
}

/* FOOTER END */

@media (max-width: 1200px ) {

    .header {
        flex-direction: column;
    }

    .navigation {
        margin-bottom: 20px;
    }

    .button, .big-button, .button-black {
        width: 255px;
        height: 50px;
    }

    .fix-size-container .first-container {
        flex-direction: column;
    }

    .main-left {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .big-image {
        margin-top: 25px;
        width: 600px;
        height: 450px;
    }

    .first-container {
        padding-top: 0;
        padding-bottom: 85px;
    }

    .sec-first-title {
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .sec-first-text {
        text-align: center;
        margin-bottom: 25px;
    }

    .but-rigth, .but-left {
        width: 250px;
        height: 50px;
    }

    .pic {
        width: 500px;
        height: 500px;
    }

    .info {
        font-size: 15px;
        margin: 30px 30px;
    }

    .title {
        font-size: 40px;
        margin: 30px 30px;
    }

    .start {
        margin: 30px 30px;
    }

    .card-icon {
        width: 275px;
        height: 255px;
    }

    .info-text, .info-text-second {
        font-size: 35px;
    }

    .info-text-second {
        padding-top: 80px;
    }

    .icon {
        width: 150px;
        height: 110px;
    }

    .title-icon, .link-second, .section-blue-info, .section-bird-info {
        font-size: 20px;
    }

    .info-icon, .card-second-info, .link-second {
        font-size: 15px;
    }

    .section-bird-text, .title-orange {
        font-size: 45px;
    }

    .img-bird {
        max-width: 100%;
    }

    .foot-card {
        width: 170px;
        height: 300px;
    }

    .bike {
        width: 200px;
        height: 200px;
    }

    .bike-info {
        font-size: 15px;
    }

    .footer-item a {
        margin-bottom: 12px;
        font-size: 12px;
    }

}

@media (max-width: 950px) {

    .navigation {
        flex-direction: column;
        width:auto;
        height: auto;
        align-items: center;
    }

    .big-image {
        max-width: 100%;
    }

    .section-second {
        margin-bottom: 20px;
    }

    .text {
        margin: 0 30px;
        padding-top: 60px;
    }

    .logos {
        display: flex;
        align-items: center;
        margin-top: 81px;
        gap: 34px;
        flex-wrap: wrap;
    }

    .wrap {
        flex-direction: column;
        justify-content: center;
    }

    .wrap-container {
        text-align: center;
    }

    .info-text-second, .info-text {
        text-align: center; 
        padding-top: 30px; 
        font-size: 30px;
    }

    .title {
        font-size: 30px;
        margin: 10px;
    }

    .wrap-container {
        width: 500px;
        height: 300px;
        margin: 15px;
    }
    
    .pic, .info {
        margin: 15px;
    }

    .pic {
        max-width: 100%;
    }

    .footer-first {
        flex-direction: column;
    }
    
    .bike {
        width: 300px;
        height: 300px;
    }

    .footer-info {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .footer-title {
        padding-top: 20px;
    }

    .card-icon {
        width: 250px;
        height: auto;
        margin-bottom: 20px;
    }

    .icon {
        width: 100px;
        height: 75px;
        margin-bottom: 5px;
    }

    .icons {
        height: auto;
    }

    .section-blue {
        height: auto;
        width: auto;
    }

    .card-cooper {
        flex-direction: column;
        height: auto;
    }

    .cooper-icon {
        margin-bottom: 20px;
    }

    .card-left {
        text-align: center;
    }

    .section-blue-info, .name  {
        margin: 10px;
    }

    .img-bird {
        max-width: 100%;
    }

    .section-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .section-cake {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section-cake {
        height: auto;
    }

    .vl {
        display: none;
    }

    .img-cake, .img-q2, .img-capterra {
        margin: 10px;
    }

    .img-capterra {
        width: 128px;
        height: 116px;
    }

    .section-bird-text {
        padding-top: 80px;
    }

    .foot-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 10px;
    }

    .foot-card {
        width: 170px;
        height: auto;
    }

    .footer-item a {
        font-size: 15px;
    }

}

@media (max-width: 600px) {

    .fix-size-container .list-item {
        flex-direction: column;
        min-width: 320px;
        height: auto;
    }

    .item a {
        font-size: 30px;
        margin-bottom: 20px;
        display: block;
    }

    .head-buttons {
        width: 100%;
    }

    .button {
        width: 100%;
    }

    .first {
        margin-bottom: 20px;
    }

    .button:first-child {
        margin-right: 0;
    }

    .navigation {
        flex-direction: column;
    }

    .logo {
        margin: 0 auto;
        margin-bottom: 20px;
    }
   
    .item a {
        font-size: 20px;
    }

    .sec-first-text, .sec-first-title {
        width: auto;
    }

    .buttons {
        text-align: center;
        width: 100%;
    }

    .but-left, .but-rigth {
        margin-bottom: 20px;
        margin-left: 0;
        width: 100%;
    }
    
    .section-second, .icon-box, .section-blue, .section-brown, .section-orange, .foot {
        height: auto;
        min-width: 320px;
    }

    .logos {
        padding-bottom: 20px;
    }

    .link-second {
        margin-bottom: 20px;
    }

    .revolut-img {
        margin-bottom: 15px;
    }

    .card-left, .section-brown-text, .card-second {
        width: auto;
        height: auto;
    }

    .info-orange {
        text-align: center;
    }

    .section-bird {
        padding-bottom: 100px;
    }

    .big-button {
        max-width: 100%;
    }

    .title {
        margin: 0;
    }

    .wrap-container {
        width: auto;
        height: auto;
    }

    .footer-second {
        flex-direction: column;
    }

    .footer-text {
        text-align: center;
    }

}
